* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  color: #202124;
}

.note-app__header {
  display: flex;
  background-color: #202124;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 10px 16px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.note-app__header h1 {
  flex: 1 1;
  font-family: "Comfortaa", sans-serif;
  margin: 8px 0;
}

.note-search input {
  background-color: white;
  color: #202124;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid #202124;
  border-radius: 10px;
  margin: 10px 0;
  padding: 12px;
  color: #202124;
  font-size: 12px;
}

.note-app__body {
  margin: 0 auto;
  max-width: 1000px;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: 700;
  margin: 16px 0;
  font-family: "Comfortaa", sans-serif;
}

.note-app__footer {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  font-family: "Comfortaa", sans-serif;
}

.note-app__footer a {
  text-decoration: none;
  color: #202124;
  background-color: #8bd3dd;
  font-weight: 700;
  border: 1px solid #202124;
  border-radius: 10px;
  box-shadow: 0.3rem 0.3rem 0 #222;
  padding: 4px;
}

.note-input {
  margin: 0 auto 48px;
  max-width: 500px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
  background-color: white;
  font-family: "IBM Plex Mono", monospace;
}

.note-input form {
  background-color: #f2f7f5;
  border: 1px solid #202124;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0.5rem 0.5rem 0 #222;
}

.note-input__title-char-limit {
  columns: #aaa;
  font-size: 12px;
  text-align: right;
}

.note-input__title {
  font-weight: bold;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  background-color: #8bd3dd;
  border: 1px solid #202124;
  border-radius: 10px;
  color: #202124;
  cursor: pointer;
  display: block;
  box-shadow: 0.4rem 0.4rem 0 #222;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 1rem;
  padding: 8px;
  width: 100%;
}

.note-list {
  grid-gap: 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: minmax(min-content, max-content);
  margin-bottom: 28px;
}

.note-list__empty-message {
  text-align: center;
  font-size: 18px;
  margin-bottom: 24px;
  padding: 12px;
  background-color: #f2f7f5;
  box-shadow: 0.5rem 0.5rem 0 #222;
  border: 1px solid #202124;
  border-radius: 10px;
}

.note-item {
  border: 1px solid #202124;
  border-radius: 10px;
  background-color: #f2f7f5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 0 #222;
}

.note-item__content {
  flex: 1 1;
  padding: 12px;
}

.note-item__title {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Comfortaa", sans-serif;
}

.note-item__date {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 8px;
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-btn,
.note-item__archive-btn {
  background-color: transparent;
  border: 0;
  border-top: 1px solid #202124;
  cursor: pointer;
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  padding: 8px 0;
  width: 100%;
}

.note-item__delete-btn {
  background-color: #ff5f52;
  color: #202124;
}

.note-item__archive-btn {
  border-right: 1px solid #202124;
  background-color: #faae2b;
  color: #202124;
}

@media only screen and (min-width: 500px) {
  .note-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .note-search input {
    min-width: 400px;
  }

  .note-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
